<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion des rôles – OCEENS II</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=DM+Mono:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', path='css/admin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/responsive.css') }}">
</head>

<body class="page-admin">

  <header class="header">
    <div class="header-logo-oceens">
      <span style="color:#df231d;">Océ</span><span style="color:#470a68;">Ens</span>
    </div>
    <nav class="account-nav">
      <span class="account-email">{{ user.email }}</span>
      <a href="/logout" class="btn-logout">Déconnexion</a>
    </nav>
  </header>

  <div class="banner">
    <div>
      <div class="banner-badge">Administrateur</div>
      <div class="banner-greeting">Bonjour, {{ user.name }} !</div>
    </div>
    <a href="/dashboard/survey-create" class="btn-banner">+ Créer un questionnaire</a>
  </div>

  <main>
    <div class="tab-container">
      <div class="tabs">
        <button class="tab active" data-tab="users">Utilisateurs</button>
        <button class="tab" data-tab="surveys">Sondage</button>
      </div>

      <div class="tab-content active" id="users">
        <div class="card">
          {% include 'template_parts/part_show_users.html' %}
        </div>
      </div>

      <div class="tab-content" id="surveys">


        <div class="card" style="margin-bottom: 24px;">
          <div class="questionnaires-header">
            <div class="questionnaires-title">Tous les questionnaires</div>
          </div>

          {% include 'template_parts/part_show_surveys.html' %}
        </div>
      </div>

    </div>

  </main>

  {% include 'template_parts/part_modal_modify_user.html' %}

  {% include 'template_parts/part_toast.html' %}

  <!-- JS SCRIPT FOR THE TABS -->
  <script>
    // Tabs
    const tabs = document.querySelectorAll('.tab');
    const contents = document.querySelectorAll('.tab-content');
    console.log(tabs);
    console.log(contents);

    tabs.forEach((tab) => {
      tab.addEventListener('click', () => {
        const target = tab.dataset.tab;

        tabs.forEach((t) => t.classList.remove('active'));
        contents.forEach((c) => c.classList.remove('active'));

        tab.classList.add('active');
        document.getElementById(target).classList.add('active');
      });
    });
  </script>

</body>

</html>
