<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OceEns — Tableau de bord</title>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Playfair+Display:wght@600&display=swap"
    rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/program_manager.css') }}" />
  <style>
    
  </style>
</head>

<body>

  <header class="header">
    <div class="header-logo-oceens">
      <span style="color: #df231d;">Océ</span><span style="color: #470a68;">Ens</span>
    </div>
    <nav style="display:flex; align-items:center; gap:14px;">
      <span style="color:#555; font-size:13px;">{{ user.email }}</span>
      <a href="/logout" class="btn-logout">Déconnexion</a>
    </nav>
  </header>

  <div class="banner">
    <div>
      <div class="banner-badge">RP-RM</div>
      <div class="banner-greeting">Bonjour, {{ user.name }} !</div>
    </div>
    <a href="/dashboard/survey-create" class="btn-banner">+ Créer un questionnaire</a>
  </div>

  <div class="questionnaires-card">
    <div class="questionnaires-header">
      <div class="questionnaires-title">Mes questionnaires</div>
    </div>

    {% include 'dashboard/part_show_surveys.html' %}

  </div>

</body>

</html>